@import 'mixin';
.header:hover{
    opacity: 100%;
    transition: opacity 0.4s 0.1s;
    
}
.welcomeTitle{
    font-family: 'Lato';
    @include media('max','md'){
        font-size: 25px;
    }
    @include media('max','sm'){
        font-size: 20px;
    }
}
.withoutPadding{
    justify-content: center;
}
.opened{
    top: 20px;
}
.bg.opened .nav_link{
    @include media('max','lg'){
        font-size: 35px;
        
    }
    
}
.bg.opened{
    .burger_Menu {
        scale: 2;
    }
}
.header {
    width: 100%;
    
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity 0.4s 0.1s;
   
    opacity: 50%;
    .header__nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 40px;
      
        .nav__logo {
            .logo {
                font-family: 'Cinzel';
                font-weight: 700;
                font-size: 20px;
            }
        }
        
        .nav__links {
            display: flex;
             align-items: center;
            .nav_link { 
                margin: 0px 5px;
            }
        }
     
 
        
        .nav__sound {

            font-size: 20px;
            font-family: 'Cinzel';
            font-weight: 700;
            .fa-volume-high {
                margin-right: 10px;
                cursor: pointer;
                font-size: 20px;
            }   
            .fa-volume-xmark{
                margin-right: 10px;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
  

    
}

.welcome{
    .welcomeBtn:hover{
        color: goldenrod;
        border: 3px solid whitesmoke;
    }
    .welcomeBtn{
        font-family: 'Lato';
        color: white;
        margin-top: 10px;
        background: transparent;
        padding: 10px;
        border: 3px solid goldenrod;
        border-radius: 10px;
        

    }
}