@import './index.scss';
@import 'mixin';
.main{
    padding: 150px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        max-width: 42%;

    }
    .text__container{
        display: block;
        .plain_text{
            font-family: 'Lato';
            max-width: 450px;
            font-size: 18px;
            letter-spacing: 1px;
        }
        .question{
            font-weight: 900;
            padding: 5px 0;
        }
        .answer{
            font-size: 13px;
        }
    }

}

.replace.odd{
    flex-direction: row-reverse;
    @include media('max','lg'){
        flex-direction: column-reverse !important;
      
    }
}
    .main.even{
        @include media('max','lg'){
            flex-direction: column !important;
        }
        
    }
    .main{
        @include media('max','lg'){
            padding: 150px 0 0 0;
            display: flex;
            
        }
        @include media('max','md'){
            padding: 200px 0 0 0;
            .plain_text{
                font-size: 14px !important;
                max-width: 340px !important;
            }
        }
        @include media('max','sm'){
            padding: 250px 0 0 0;
            .plain_text{
                font-size: 12px !important;
                max-width: 250px !important;
            }
           
        }
        .img{
            @include media('max','lg'){
             
                padding: 20px 0 20px;
            }   
           
        }
    }


.img{
    animation: imgMove 15s infinite;
}

@keyframes imgMove {
    from {transform: translate(0,0); transition: transform 0.5s 0s ease;}
    50%{
        transform: translate(0,30px); transition: transform 0.5s 0s ease; 
    }
    to {transform: translate(0,0); transition: transform 0.5s 0s ease;}
  }